@model Ictshop.Models.Sanpham

@{ ViewBag.Title = "Details";
                Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }

<h2>Thông tin chi tiết</h2>

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hangsanxuat.Tenhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hangsanxuat.Tenhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hedieuhanh.Tenhdh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hedieuhanh.Tenhdh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thesim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thesim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dungluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dungluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sanphammoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sanphammoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anhbia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anhbia)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Manhinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manhinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Camera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChipCPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChipCPU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ketnoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ketnoi)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Chatlieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chatlieu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trongluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trongluong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kichthuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kichthuoc)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Thongtinkhac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thongtinkhac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenhangsx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenhangsx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenhedieuhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenhedieuhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhomSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhomSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySua)
        </dd>


    </dl>
</div>
<p>
    <button class="btn btn-success">
        @Html.ActionLink("Sửa sản phẩm", "Edit", new { id = Model.Masp }, new { @style = "color:white;" }) 
    </button>
</p>

